GUI V1.json
[{"id":"e6b9295df385e417","type":"tab","label":"GUI","disabled":false,"info":""},{"id":"64c03e8ace7ef6af","type":"group","z":"e6b9295df385e417","name":"Read data and show in Graph and Table","style":{"label":true},"nodes":["571a762745305d53","46b79c16757fbe52","3e7b4d9c16af212a","3c29586e705b6f61","605f2e921eef34bd","eedd302c9f82fd57","c94d86c2d9cd7b55","f631fb528db80c10","7c0f526cc550c89b"],"x":814,"y":319,"w":1232,"h":362},{"id":"90320377e1cb9893","type":"group","z":"e6b9295df385e417","name":"Telegram to request for ngrok link","style":{"label":true},"nodes":["f6d5b5e6745ae42b","475013638bcd5f33","fbf989877169103a","3a0bd99f4b5f993d","27fb2f3a7fe6303b","fc4ba14f0ef75211","71442a00f29a3108","b45fdce706bfff97","0f88c9487321f0b4","3f66671bf133f9a4","c8e59bf99336902f","683eaa28aea1a654","987a27f03b47f40b"],"x":34,"y":859,"w":852,"h":362},{"id":"92ea294a8a39e129","type":"group","z":"e6b9295df385e417","name":"Create Database and store data","style":{"label":true},"nodes":["c35fb590a4d00cf9","7ae53aec0a82b497","cf71bf3b06bcc39f","08911492dfdc354a","40051c99437871af"],"x":774,"y":59,"w":872,"h":182},{"id":"b97003d905b0d362","type":"group","z":"e6b9295df385e417","name":"The Overall Dashboard Widgets","style":{"label":true},"nodes":["261f977d59f40778","431f645fe63ca9bb","946dfaaa4be6d76a","142dae9.49d4751","f251bb1957a74a95","2aa7dd2f4c7ff9d9","70e51cbc41f1db57","776ea79bd9629cb8","beff7d49000c39bc","905473cbec5ef3c3","933fa0b2ad9e10e4","357349fcd7d38581","741b506b6056ecd9","f4cbdffbb6674fa2","4b9c2bd66696e926","98ca906ebe606c07","eee3dbcd6133a0d2","bf402238eb4d635d","7e43a166cd44bc88","117900215653ecd4","242b0f1e2468715e","5a284de76ad75e83","da45b1906e21f938","a4c073143be9908c"],"x":34,"y":79,"w":712,"h":702},{"id":"261f977d59f40778","type":"ui_gauge","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"","group":"8c901fb19c195653","order":1,"width":0,"height":0,"gtype":"gage","title":"Water Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#f14f4f","#ea4d4d","#0a6647"],"seg1":"50","seg2":"80","diff":false,"className":"","x":570,"y":260,"wires":[]},{"id":"431f645fe63ca9bb","type":"inject","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"Trigger random data","props":[],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":400,"wires":[["946dfaaa4be6d76a","f251bb1957a74a95","2aa7dd2f4c7ff9d9","70e51cbc41f1db57"]]},{"id":"946dfaaa4be6d76a","type":"function","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"function 4","func":"const time = new Date();\n\nmsg.topic = \"Water Level\";\nmsg.value = (Math.random()*100).toFixed(0).toString();\nmsg.payload = msg.value + \" %\";\nmsg.epoch_time_now = Date.now();\nmsg.time_now = time.toLocaleTimeString()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":260,"wires":[["261f977d59f40778","776ea79bd9629cb8","c35fb590a4d00cf9"]]},{"id":"142dae9.49d4751","type":"ui_template","z":"e6b9295df385e417","d":true,"g":"b97003d905b0d362","group":"3d9e45e.bcd50ba","name":"Dashboard stylesheet","order":1,"width":0,"height":0,"format":"<style>\n/*\nIt is reasnoble to declare the colors as CSS variables\nso they can be easily called by name where needed.\n\nYou can see that in many places the variables are not used. Change it!\n*/\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\n/*\nAll CSS adjustments are commented out.\nTurn rules on one by one and see the changes.\nDon't use too many elements cos it wil be confusing\nStart with simple elements like text, slider or button\n\nMany of elements like buttons have states, \nthose rules must be found and adjusted also.\n*/\n\n\n.masonry-container {\n    position: relative;\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n}\n\n\n\n.nr-dashboard-cardcontainer {\n    position: relative;\n    box-shadow: inset 0px 1px 4px 0px #000000bb;\n    border-radius: 15px;\n}\n\n\n \n.nr-dashboard-theme ui-card-panel {\n    background-color: #33333300;\n    color:var(--color-text-primary);\n    border-radius: 15px;\n    box-shadow: 0 0 8px 0px #00000080;\n}\n\n\n \nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: var(--color-text-primary);\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n \n\n\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: var(--color-text-primary);\n}\n\n\n\n\n.md-button {\n    display: inline-block;\n    position: relative;\n    cursor: pointer;\n    min-height: 36px;\n    min-width: 88px;\n    line-height: 36px;\n    vertical-align: middle;\n    align-items: center;\n    text-align: center;\n    border-radius: 12px;\n    box-sizing: border-box;\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n    outline: none;\n    border: 0;\n    padding: 0 6px;\n    margin: 6px 8px;\n    background: transparent;\n    color:var(--color-text-primary);\n    white-space: nowrap;\n    text-transform: uppercase;\n    font-weight: 500;\n    font-size: 14px;\n    font-style: inherit;\n    font-variant: inherit;\n    font-family: inherit;\n    text-decoration: none;\n    overflow: hidden;\n    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);\n}\n\n\n\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #88888800;\n    color:var(--color-text-primary);\n}\n\n\n\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #88888855;\n}\n\n\n\n\nmd-slider .md-thumb {\n    z-index: 1;\n    position: absolute;\n    left: -10px;\n    top: 14px;\n    width: 20px;\n    height: 20px;\n    border-radius: 20px;\n    -webkit-transform: scale(.7);\n    transform: scale(.7);\n    transition: all .4s cubic-bezier(.25,.8,.25,1);\n    box-shadow: 0 0 6px #00000070;\n}\n\n\n\n\n\n/*Advanced stuff - dynamic change of card CSS*/\n\n/*Classes here can be used to make colored stripe at the top of card*/\n/*Usage is not in here, but they are added to md-card when needed within another template*/\n\n.carderr{\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg, var(--color-red-primary) 0px, var(--color-red-secondary) 3px, rgba(80,80,80,1) 4px, rgba(45,45,45,1) 100%);\n}\n.cardok {\n    background: rgb(39,255,0);\n    background: linear-gradient(180deg, var(--color-green-primary) 0px, var(--color-green-secondary) 3px, rgba(70,70,70,1) 4px, rgba(40,40,40,1) 100%);\n}\n\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":620,"y":120,"wires":[[]]},{"id":"f251bb1957a74a95","type":"function","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"function 5","func":"const time = new Date();\n\nmsg.topic = \"pH Level\";\nmsg.value = (Math.random()*10).toFixed(1).toString();\nmsg.payload = msg.value +  \" pH\";\nmsg.epoch_time_now = Date.now();\nmsg.time_now = time.toLocaleTimeString()\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":380,"wires":[["905473cbec5ef3c3","741b506b6056ecd9","c35fb590a4d00cf9"]]},{"id":"2aa7dd2f4c7ff9d9","type":"function","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"function 6","func":"const time = new Date();\n\nmsg.topic = \"TDS Level\";\nmsg.value = (Math.random()*1000).toFixed(0).toString();\nmsg.payload = msg.value +  \" ppm\";\nmsg.epoch_time_now = Date.now();\nmsg.time_now = time.toLocaleTimeString()\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":500,"wires":[["933fa0b2ad9e10e4","f4cbdffbb6674fa2","c35fb590a4d00cf9"]]},{"id":"70e51cbc41f1db57","type":"function","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"function 7","func":"const time = new Date();\n\nmsg.topic = \"Water Temperature\";\nmsg.value = (Math.random()*50).toFixed(0).toString();\nmsg.payload = msg.value +  \" °C\";\nmsg.epoch_time_now = Date.now();\nmsg.time_now = time.toLocaleTimeString()\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":600,"wires":[["357349fcd7d38581","4b9c2bd66696e926","c35fb590a4d00cf9","f631fb528db80c10"]]},{"id":"776ea79bd9629cb8","type":"ui_text","z":"e6b9295df385e417","g":"b97003d905b0d362","group":"2ec520afe450de04","order":2,"width":6,"height":2,"name":"","label":"{{msg.time_now}}","format":"{{msg.payload}}","layout":"col-center","className":"test","x":590,"y":200,"wires":[]},{"id":"beff7d49000c39bc","type":"ui_text","z":"e6b9295df385e417","g":"b97003d905b0d362","group":"2ec520afe450de04","order":1,"width":0,"height":0,"name":"","label":"Water Level","format":"","layout":"col-center","className":"title","x":390,"y":220,"wires":[]},{"id":"905473cbec5ef3c3","type":"ui_gauge","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"","group":"b1a5eebda3aab342","order":1,"width":0,"height":0,"gtype":"gage","title":"pH","label":" pH","format":"{{value}}","min":0,"max":"13","colors":["#ee4e4e","#0a6647","#f45050"],"seg1":"5.6","seg2":"6.2","className":"","x":590,"y":380,"wires":[]},{"id":"933fa0b2ad9e10e4","type":"ui_gauge","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"","group":"c8881f08e9387230","order":1,"width":0,"height":0,"gtype":"gage","title":"TDS","label":" ppm","format":"{{value}}","min":0,"max":"1000","colors":["#e74c4c","#0a6647","#ef4e4e"],"seg1":"560","seg2":"840","className":"","x":590,"y":500,"wires":[]},{"id":"357349fcd7d38581","type":"ui_gauge","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"","group":"88d47c2584f77f19","order":1,"width":0,"height":0,"gtype":"gage","title":"Water Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#f24f4f","#0a6647","#ed4e4e"],"seg1":"20","seg2":"25","className":"","x":630,"y":600,"wires":[]},{"id":"741b506b6056ecd9","type":"ui_text","z":"e6b9295df385e417","g":"b97003d905b0d362","group":"fda149d70e4c740e","order":2,"width":6,"height":2,"name":"","label":"{{msg.time_now}}","format":"{{msg.payload}}","layout":"col-center","className":"test","x":590,"y":340,"wires":[]},{"id":"f4cbdffbb6674fa2","type":"ui_text","z":"e6b9295df385e417","g":"b97003d905b0d362","group":"9e3b074578f0d101","order":2,"width":6,"height":2,"name":"","label":"{{msg.time_now}}","format":"{{msg.payload}}","layout":"col-center","className":"test","x":590,"y":460,"wires":[]},{"id":"4b9c2bd66696e926","type":"ui_text","z":"e6b9295df385e417","g":"b97003d905b0d362","group":"d37c8eba7bceb2d2","order":2,"width":6,"height":2,"name":"","label":"{{msg.time_now}}","format":"{{msg.payload}}","layout":"col-center","className":"test","x":590,"y":560,"wires":[]},{"id":"98ca906ebe606c07","type":"ui_text","z":"e6b9295df385e417","g":"b97003d905b0d362","group":"fda149d70e4c740e","order":1,"width":0,"height":0,"name":"","label":"pH","format":"","layout":"col-center","className":"title","x":370,"y":340,"wires":[]},{"id":"eee3dbcd6133a0d2","type":"ui_text","z":"e6b9295df385e417","g":"b97003d905b0d362","group":"9e3b074578f0d101","order":1,"width":0,"height":0,"name":"","label":"TDS","format":"","layout":"col-center","className":"title","x":370,"y":460,"wires":[]},{"id":"bf402238eb4d635d","type":"ui_text","z":"e6b9295df385e417","g":"b97003d905b0d362","group":"d37c8eba7bceb2d2","order":1,"width":0,"height":0,"name":"","label":"Water Temperature","format":"","layout":"col-center","className":"title","x":410,"y":560,"wires":[]},{"id":"c35fb590a4d00cf9","type":"join","z":"e6b9295df385e417","g":"92ea294a8a39e129","name":"","mode":"custom","build":"object","property":"value","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":200,"wires":[["08911492dfdc354a"]]},{"id":"571a762745305d53","type":"inject","z":"e6b9295df385e417","g":"64c03e8ace7ef6af","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":1550,"y":480,"wires":[["46b79c16757fbe52"]]},{"id":"46b79c16757fbe52","type":"function","z":"e6b9295df385e417","g":"64c03e8ace7ef6af","name":"Clear Graph once NodeRed reset","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":480,"wires":[["c94d86c2d9cd7b55"]]},{"id":"7e43a166cd44bc88","type":"ui_template","z":"e6b9295df385e417","g":"b97003d905b0d362","group":"65e3a37f57eee039","name":"","order":3,"width":14,"height":1,"format":"<style>\n    :root {\n      --color-green-primary: rgb(51, 204, 51);\n      --color-green-secondary: rgb(26, 101, 26);\n      --color-red-primary: rgb(255, 0, 0);\n      --color-red-secondary: rgba(153,0,0,1);\n      --color-gray-primary:#3C486B;\n      --color-gray-secondary:#3C486BFF;\n      --color-text-primary: #3C486B;\n      --color-widget-border: #3C486B;\n    }\n    \n    .title{\n        font-size:1.5em;\n        font-weight:bold;\n        background-color:#00FFCA3F;\n    }\n    \n    .masonry-container {\n    position: relative;\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    background: rgb(255,0,0);\n    background: linear-gradient(0deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n    }\n    \n    .nr-dashboard-cardcontainer {\n    position: relative;\n    box-shadow: inset 0px 1px 4px 0px #3C486BA0;\n    border-radius: 15px;\n    }\n    \n    .nr-dashboard-theme ui-card-panel {\n    background-color: #F0F0F0;\n    color:var(--color-text-primary);\n    border-radius: 15px;\n    box-shadow: 0 0 8px 0px #00000080;\n    }\n    \n    body.nr-dashboard-theme md-content md-card {\n    background-color: transparent;\n    color: var(--color-text-primary);\n    text-shadow: 4px 2px 4px #00000045;\n    /*box-shadow: 0 -1px 5px 1px #00000045;*/\n    border-radius: 12px;\n    border:none;\n    /*border: 1px solid var(--color-widget-border);*/\n    }\n    \n    .nr-dashboard-chart-container{\n    background-color: #FFFFFF;\n    color: #454545;\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n    }\n    \n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle{\n        color: white;\n    }\n    /*path{*/\n    /*    fill:blue;*/\n    /*}*/\n    \n    .test{\n        font-size:1.5em;\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-button .md-button{\n        background-color:#F0F0F0;\n        color:var(--color-text-primary);\n        transition : 1s;\n        height:50px;\n        border-radius:50px;\n        margin:10%;\n    }\n    .nr-dashboard-theme .nr-dashboard-button .md-button:hover{\n        background-color:var(--color-text-primary);\n        color:#F0F0F0;\n    }\n    \n    @media (max-width:480px){\n        .masonry-container {\n            min-height:2600px !important;\n            max-width:480px !important;\n        }\n        #Hydroponics_Buttons,#Hydroponics_Buttons_cards{\n            display:flex;\n            flex-direction:row;\n            height:20vh !important;\n            width:100% !important;\n            justify-content:space-around;\n            align-items:center;\n        }\n        \n        md-card.nr-dashboard-button._md.visible{\n            background-color:#F0F0F0 !important;\n            left:0px !important;\n            top:0px !important;\n            width:25%!important;\n            height:80%!important;\n            position:inherit;\n            margin:20px;\n            justify-content:center;\n        }\n        .nr-dashboard-cardpanel.layout-column{\n            width:100%;\n        }\n        #Hydroponics_Chart,#Hydroponics_Chart_cards{\n            display:flex;\n            flex-direction:row;\n            height:20vh !important;\n            width:100% !important;\n            justify-content:space-around;\n            align-items:center;\n        }\n        .data-table{\n            left:0px !important;\n            top:560px !important;\n            width: 100% !important;\n            height:264px !important;\n        }\n        #Hydroponics_Water_Level,#Hydroponics_TDS,#Hydroponics_pH,#Hydroponics_Water_Temperature{\n            width:50% !important;\n            height:120px;\n            left: 25% !important;\n        }\n        #Hydroponics_Water_Level_cards,#Hydroponics_TDS_cards,#Hydroponics_pH_cards,#Hydroponics_Water_Temperature_cards{\n            width:100% !important;\n        }\n        .title{\n            text-align:center;\n            font-size:1em;\n        }\n        .test{\n            font-size:1em;\n            top:30px !important;\n        }\n        #Hydroponics_WL_Gauge,#Hydroponics_pH_Gauge,#Hydroponics_TDS_Gauge,#Hydroponics_Water_Temp_Gauge{\n            width:100% !important;\n        }\n        #Hydroponics_WL_Gauge_cards,#Hydroponics_pH_Gauge_cards,#Hydroponics_TDS_Gauge_cards,#Hydroponics_Water_Temp_Gauge_cards{\n            width:100% !important;\n        }\n        #Hydroponics_WL_Gauge_cards > md-card,#Hydroponics_pH_Gauge_cards > md-card,#Hydroponics_TDS_Gauge_cards > md-card,#Hydroponics_Water_Temp_Gauge_cards > md-card{\n            width:100% !important;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button{\n        background-color:#F0F0F0;\n        color:var(--color-text-primary);\n        transition : 1s;\n        height:50px;\n        border-radius:50px;\n        margin:10%;\n    }\n        \n    }\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":420,"y":140,"wires":[[]]},{"id":"f6d5b5e6745ae42b","type":"debug","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":900,"wires":[]},{"id":"475013638bcd5f33","type":"function","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"Setting up Ngrok Link to Dashboard","func":"var ngrok_link = msg.payload + \"/ui\";\n\nflow.set(\"ngrok_link\",ngrok_link);\nmsg.payload = ngrok_link;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":900,"wires":[["f6d5b5e6745ae42b"]]},{"id":"fbf989877169103a","type":"inject","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"on","payloadType":"str","x":150,"y":900,"wires":[["987a27f03b47f40b"]]},{"id":"3a0bd99f4b5f993d","type":"telegram event","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"","bot":"b007a31619174283","event":"callback_query","autoanswer":false,"x":140,"y":1100,"wires":[["b45fdce706bfff97"]]},{"id":"27fb2f3a7fe6303b","type":"telegram command","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"","command":"/plattu","description":"","registercommand":false,"language":"","scope":"default","bot":"b007a31619174283","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":110,"y":1020,"wires":[["fc4ba14f0ef75211"],[]]},{"id":"fc4ba14f0ef75211","type":"function","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"Setting Up Telegram Chat Selections","func":"opts = {\n    reply_to_message_id : msg.payload.messageId,\n\n    reply_markup: JSON.stringify({\n        \"inline_keyboard\": [[\n                    {\n                        \"text\": \"Dashboard\",\n                        \"callback_data\": \"dashboard\"            \n                    }]]\n    })\n};\n\n// msg.payload.content contains the callback data from the keyboard.\n// You may change this value here.\nmsg.payload.content = \"Thank you for choosing Plattu. How can I help you?\";\nmsg.payload.options = opts;\n\nreturn [msg] ;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1020,"wires":[["71442a00f29a3108"]]},{"id":"71442a00f29a3108","type":"telegram sender","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"show inline keyboard","bot":"b007a31619174283","haserroroutput":false,"outputs":1,"x":680,"y":1020,"wires":[[]]},{"id":"b45fdce706bfff97","type":"switch","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"dashboard","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":1100,"wires":[["0f88c9487321f0b4"]]},{"id":"0f88c9487321f0b4","type":"function","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"Delete the Menu","func":"var dashboard_link = flow.get(\"ngrok_link\");//${dashboard_link}\n\nmsg.payload.type = 'deleteMessage'\nmsg.payload.content = msg.payload.messageId;\nreturn [ msg ];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1100,"wires":[["c8e59bf99336902f"]]},{"id":"3f66671bf133f9a4","type":"function","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"Reply the Dashboard Link","func":"var dashboard_link = flow.get(\"ngrok_link\");//${dashboard_link}\n\nmsg.payload.type = 'message'\nmsg.payload.content = 'The Dashboard Link:\\n'+ dashboard_link;\n\nreturn [ msg ];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1180,"wires":[["683eaa28aea1a654"]]},{"id":"c8e59bf99336902f","type":"telegram sender","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"show inline keyboard","bot":"b007a31619174283","haserroroutput":false,"outputs":1,"x":760,"y":1100,"wires":[["3f66671bf133f9a4"]]},{"id":"683eaa28aea1a654","type":"telegram sender","z":"e6b9295df385e417","g":"90320377e1cb9893","name":"show inline keyboard","bot":"b007a31619174283","haserroroutput":false,"outputs":1,"x":620,"y":1180,"wires":[[]]},{"id":"117900215653ecd4","type":"ui_ui_control","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"","events":"all","x":520,"y":720,"wires":[[]]},{"id":"242b0f1e2468715e","type":"ui_button","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"","group":"a15f457f333a9ef9","order":5,"width":4,"height":3,"passthru":false,"label":"Chart","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"Hydroponics_Water_Level\",\"Hydroponics_TDS\",\"Hydroponics_pH\",\"Hydroponics_Water_Temperature\",\"Hydroponics_WL_Gauge\",\"Hydroponics_TDS_Gauge\",\"Hydroponics_pH_Gauge\",\"Hydroponics_Water_Temp_Gauge\"],\"show\":[\"Hydroponics_Chart\"],\"focus\":true}}","payloadType":"json","topic":"topic","topicType":"msg","x":370,"y":700,"wires":[["117900215653ecd4","f631fb528db80c10"]]},{"id":"5a284de76ad75e83","type":"ui_button","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"","group":"a15f457f333a9ef9","order":4,"width":4,"height":3,"passthru":false,"label":"Text","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[\"Hydroponics_Chart\"],\"show\":[\"Hydroponics_Water_Level\",\"Hydroponics_TDS\",\"Hydroponics_pH\",\"Hydroponics_Water_Temperature\",\"Hydroponics_WL_Gauge\",\"Hydroponics_TDS_Gauge\",\"Hydroponics_pH_Gauge\",\"Hydroponics_Water_Temp_Gauge\"],\"focus\":true}}","payloadType":"json","topic":"topic","topicType":"msg","x":370,"y":740,"wires":[["117900215653ecd4"]]},{"id":"da45b1906e21f938","type":"ui_button","z":"e6b9295df385e417","g":"b97003d905b0d362","name":"","group":"a15f457f333a9ef9","order":3,"width":4,"height":3,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"group\":{\"hide\":[],\"show\":[\"Hydroponics_Chart\",\"Hydroponics_Water_Level\",\"Hydroponics_TDS\",\"Hydroponics_pH\",\"Hydroponics_Water_Temperature\",\"Hydroponics_WL_Gauge\",\"Hydroponics_TDS_Gauge\",\"Hydroponics_pH_Gauge\",\"Hydroponics_Water_Temp_Gauge\"],\"focus\":true}}","payloadType":"json","topic":"topic","topicType":"msg","x":370,"y":660,"wires":[["117900215653ecd4","f631fb528db80c10"]]},{"id":"7ae53aec0a82b497","type":"sqlite","z":"e6b9295df385e417","g":"92ea294a8a39e129","mydb":"62c2b396487cb561","sqlquery":"msg.topic","sql":"","name":"","x":1470,"y":120,"wires":[["811a28a30902de3a"]]},{"id":"987a27f03b47f40b","type":"ngrok","z":"e6b9295df385e417","g":"90320377e1cb9893","buttonState":true,"port":"","portType":"node-red","host":"","hostType":"localhost","creds":"46be69fccc75dbd6","region":"","regionType":"ap","proto":"http","bind_tls":"","bind_tlsType":"both","subdomain":"","subdomainType":"none","auth":"","authType":"none","hostHeader":"","hostHeaderType":"none","name":"","inputtype":"port","inputs":1,"x":290,"y":900,"wires":[["475013638bcd5f33"]]},{"id":"cf71bf3b06bcc39f","type":"inject","z":"e6b9295df385e417","g":"92ea294a8a39e129","name":"create database table","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"CREATE TABLE HYDROPONICS( TIMESTAMP TEXT NOT NULL PRIMARY KEY, WATER_LEVEL TEXT NOT NULL, PH TEXT NOT NULL, TDS TEXT NOT NULL,WATER_TEMP TEXT NOT NULL)","x":1060,"y":100,"wires":[["7ae53aec0a82b497"]]},{"id":"08911492dfdc354a","type":"function","z":"e6b9295df385e417","g":"92ea294a8a39e129","name":"SQL Command to store data to database","func":"var time = new Date();\nmsg.time_now = time.toLocaleTimeString(\"en-US\",{hour: \"2-digit\", minute: \"2-digit\" ,second: \"2-digit\",hour12:false});\nvar newMsg = {\n    \"topic\": \"INSERT INTO HYDROPONICS VALUES('\"+ msg.epoch_time_now +\"',\" + msg.value[\"Water Level\"] + \",\" + msg.value[\"pH Level\"] + \",\" + msg.value[\"TDS Level\"] + \",\" + msg.value[\"Water Temperature\"] + \")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":200,"wires":[["7ae53aec0a82b497"]]},{"id":"40051c99437871af","type":"inject","z":"e6b9295df385e417","g":"92ea294a8a39e129","name":"check number of data in database","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT COUNT(*) FROM HYDROPONICS","x":1100,"y":140,"wires":[["7ae53aec0a82b497"]]},{"id":"3e7b4d9c16af212a","type":"sqlite","z":"e6b9295df385e417","g":"64c03e8ace7ef6af","mydb":"62c2b396487cb561","sqlquery":"msg.topic","sql":"","name":"","x":1310,"y":360,"wires":[["eedd302c9f82fd57","7c0f526cc550c89b"]]},{"id":"3c29586e705b6f61","type":"ui_template","z":"e6b9295df385e417","g":"64c03e8ace7ef6af","group":"65e3a37f57eee039","name":"Table","order":2,"width":14,"height":5,"format":"<table>\n    <tr>\n        <th>Time</th>\n        <th>Water Level</th>\n        <th>pH Level</th>\n        <th>TDS Level</th>\n        <th>Water Temperature</th>\n    </tr>\n    <tr ng-repeat = \"x in msg.payload | limitTo:10\">\n        <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n        <td style=\"text-align:center\">{{msg.payload[$index].WATER_LEVEL}}</td>\n        <td style=\"text-align:center\">{{msg.payload[$index].PH}}</td>\n        <td style=\"text-align:center\">{{msg.payload[$index].TDS}}</td> \n        <td style=\"text-align:center\">{{msg.payload[$index].WATER_TEMP}}</td> \n\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"data-table","x":1970,"y":360,"wires":[[]]},{"id":"605f2e921eef34bd","type":"inject","z":"e6b9295df385e417","g":"64c03e8ace7ef6af","name":"Ask for data from database","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM HYDROPONICS ORDER BY TIMESTAMP DESC LIMIT 20","x":970,"y":360,"wires":[["3e7b4d9c16af212a"]]},{"id":"a4c073143be9908c","type":"ui_media","z":"e6b9295df385e417","d":true,"g":"b97003d905b0d362","group":"3d9e45e.bcd50ba","name":"","width":4,"height":4,"order":2,"category":"","file":"worker.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":570,"y":160,"wires":[[]]},{"id":"eedd302c9f82fd57","type":"function","z":"e6b9295df385e417","g":"64c03e8ace7ef6af","name":"Restructure the payload to show in graph","func":"var temp_arr = [];\nvar column_headers = [\"WATER_LEVEL\",\"PH\",\"TDS\",\"WATER_TEMP\"]\nvar combined_arr = [];\n\nfor(let j=0;j<column_headers.length;j++){\n    for(let i = 0; i < msg.payload.length;i++){\n        let temp_msg = msg.payload[i][column_headers[j]];\n        let temp_time = Number(msg.payload[i][\"TIMESTAMP\"]);\n        \n        temp_arr.push({\"x\":temp_time,\"y\":temp_msg});\n        // temp_time +=1;\n    }\n    combined_arr.push(temp_arr);\n    temp_arr = [];\n}\n\nmsg.payload = [{\n    \"series\":[\"Water Level\",\"pH\",\"TDS\",\"Water Temperature\"],\n    \"data\":combined_arr,\n    \"labels\":[\"\"],\n}]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":420,"wires":[["c94d86c2d9cd7b55"]]},{"id":"c94d86c2d9cd7b55","type":"ui_chart","z":"e6b9295df385e417","g":"64c03e8ace7ef6af","name":"","group":"65e3a37f57eee039","order":1,"width":10,"height":10,"label":"Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"20","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3c486b","#088294","#f7d748","#f45050","#fae1c3","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"chart","x":1950,"y":420,"wires":[[]]},{"id":"f631fb528db80c10","type":"function","z":"e6b9295df385e417","g":"64c03e8ace7ef6af","name":"Read Data from SQL","func":"msg.topic = \"SELECT * FROM HYDROPONICS ORDER BY TIMESTAMP DESC LIMIT 20\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":640,"wires":[["3e7b4d9c16af212a"]]},{"id":"7c0f526cc550c89b","type":"function","z":"e6b9295df385e417","g":"64c03e8ace7ef6af","name":"Changing Timestamp format before showing in table","func":"var test_arr =[];\nfor(let i = 0; i<msg.payload.length;i++){\n    let date = new Date(Number(msg.payload[i][\"TIMESTAMP\"]));\n    msg.payload[i][\"TIMESTAMP\"] = String(date).slice(0,25);\n    \n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":360,"wires":[["3c29586e705b6f61"]]},{"id":"b9042839a3e5476b","type":"comment","z":"e6b9295df385e417","name":"","info":"20/4/2023\nIf new sensor reading needed to be included change the SQL commands and \"Restructure the payload to show in graph\" change the variables in this function.\n\nIf no Database yet, Inject the \"create database table\" node.","x":100,"y":40,"wires":[]},{"id":"811a28a30902de3a","type":"debug","z":"e6b9295df385e417","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1760,"y":120,"wires":[]},{"id":"8d1a99ecdd3763f5","type":"ui_spacer","z":"e6b9295df385e417","name":"spacer","group":"a15f457f333a9ef9","order":1,"width":24,"height":1},{"id":"906fb272e8074375","type":"ui_spacer","z":"e6b9295df385e417","name":"spacer","group":"a15f457f333a9ef9","order":2,"width":1,"height":1},{"id":"18368c34c7ea3ed6","type":"ui_spacer","z":"e6b9295df385e417","name":"spacer","group":"a15f457f333a9ef9","order":6,"width":11,"height":1},{"id":"37c23195b3698692","type":"ui_spacer","z":"e6b9295df385e417","name":"spacer","group":"a15f457f333a9ef9","order":7,"width":1,"height":1},{"id":"f78ada2e0d5557f6","type":"ui_spacer","z":"e6b9295df385e417","name":"spacer","group":"a15f457f333a9ef9","order":8,"width":11,"height":1},{"id":"017a625ae9bb8106","type":"ui_spacer","z":"e6b9295df385e417","name":"spacer","group":"a15f457f333a9ef9","order":9,"width":1,"height":1},{"id":"b5a32faa33eb7e81","type":"ui_spacer","z":"e6b9295df385e417","name":"spacer","group":"a15f457f333a9ef9","order":10,"width":11,"height":1},{"id":"3fde77850c1bf3ec","type":"ui_spacer","z":"e6b9295df385e417","name":"spacer","group":"65e3a37f57eee039","order":4,"width":14,"height":1},{"id":"39e191010d241f17","type":"ui_spacer","z":"e6b9295df385e417","name":"spacer","group":"65e3a37f57eee039","order":5,"width":14,"height":1},{"id":"03384e7650f55dde","type":"ui_spacer","z":"e6b9295df385e417","name":"spacer","group":"65e3a37f57eee039","order":6,"width":14,"height":1},{"id":"9f6a47e2a17080ca","type":"ui_spacer","z":"e6b9295df385e417","name":"spacer","group":"65e3a37f57eee039","order":7,"width":14,"height":1},{"id":"8c901fb19c195653","type":"ui_group","name":"WL Gauge","tab":"3c3f47910c2b923a","order":6,"disp":false,"width":"6","collapse":false,"className":""},{"id":"3d9e45e.bcd50ba","type":"ui_group","name":"Radial Gauges","tab":"e625ce36.34cf3","order":2,"disp":true,"width":"6","collapse":false},{"id":"2ec520afe450de04","type":"ui_group","name":"Water Level","tab":"3c3f47910c2b923a","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"b1a5eebda3aab342","type":"ui_group","name":"pH Gauge","tab":"3c3f47910c2b923a","order":8,"disp":false,"width":6,"collapse":false,"className":""},{"id":"c8881f08e9387230","type":"ui_group","name":"TDS Gauge","tab":"3c3f47910c2b923a","order":7,"disp":false,"width":6,"collapse":false,"className":""},{"id":"88d47c2584f77f19","type":"ui_group","name":"Water Temp Gauge","tab":"3c3f47910c2b923a","order":9,"disp":false,"width":6,"collapse":false,"className":""},{"id":"fda149d70e4c740e","type":"ui_group","name":"pH","tab":"3c3f47910c2b923a","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"9e3b074578f0d101","type":"ui_group","name":"TDS","tab":"3c3f47910c2b923a","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"d37c8eba7bceb2d2","type":"ui_group","name":"Water Temperature","tab":"3c3f47910c2b923a","order":5,"disp":false,"width":"6","collapse":false,"className":""},{"id":"65e3a37f57eee039","type":"ui_group","name":"Chart","tab":"3c3f47910c2b923a","order":10,"disp":false,"width":24,"collapse":false,"className":""},{"id":"b007a31619174283","type":"telegram bot","botname":"Weather_Forecast_Bot","usernames":"","chatids":"1117416272","baseapiurl":"","updatemode":"polling","pollinterval":"4000","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"a15f457f333a9ef9","type":"ui_group","name":"Buttons","tab":"3c3f47910c2b923a","order":1,"disp":false,"width":"24","collapse":false,"className":""},{"id":"62c2b396487cb561","type":"sqlitedb","db":"/home/pi/Documents/HYDROPONICS","mode":"RWC"},{"id":"46be69fccc75dbd6","type":"ngrokauth","name":""},{"id":"3c3f47910c2b923a","type":"ui_tab","name":"Hydroponics","icon":"dashboard","disabled":false,"hidden":false},{"id":"e625ce36.34cf3","type":"ui_tab","name":"Widgets","icon":"dashboard","order":2,"disabled":false,"hidden":true}]